@font-face {
  font-family: "fonti";
  src: url("/src/assets/HelveticaNeue.ttc") format("truetype");
}
:root {
  background-color: rgb(226, 226, 226);
}
.button-style-1 {
  width: 210px;
  height: 48px;
  background-color: #6b40e3;
  text-align: center;
  color: white;
  border-radius: 15px;
  border: none;
  font-size: 20px;
}

.input-style-1 {
  width: 370px;
  height: 48px;
  border-radius: 5px;
  font-size: 20px;
}
.input-style-2 {
  width: 800px;
  height: 48px;
  border-radius: 5px;
  font-size: 20px;
}
