@font-face {
  font-family: "HelveticaNeue";
  src: url(./fonts/HelveticaNeue.ttc);
}
* {
  font-family: "HelveticaNeue";
}
:root {
  background-color: #f9f9f9;
}
.button-style-1 {
  width: 210px;
  height: 48px;
  background-color: #6b40e3;
  text-align: center;
  color: white;
  border-radius: 15px;
  border: none;
  font-size: 20px;
}

.input-style-1 {
  width: 370px;
  height: 48px;
  border-radius: 5px;
  font-size: 20px;
  border: 2px solid #ccc;
  /* padding: 0px 15px; */
  margin-right: 25px;
}
.input-style-1-red {
  width: 370px;
  height: 48px;
  border-radius: 5px;
  font-size: 20px;
  border: 2px solid #ff0000;
  padding: 0px 15px;
}
.input-style-2 {
  width: 800px;
  height: 48px;
  border-radius: 5px;
  font-size: 20px;
  border: 1px solid #ccc;
  padding: 0px 15px;
}
.input-style-2-red {
  width: 800px;
  height: 48px;
  border-radius: 5px;
  font-size: 20px;
  border: 1px solid #ff0000;
  padding: 0px 15px;
}
.button-style-4,
label {
  display: block;
  position: relative;
  width: 107px;
  height: 30px;
  border-radius: 7px;
  background-color: #0e80bf;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
  text-align: center;
}
.button-style-3 {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}
.atvirtva {
  display: flex;
  align-items: center;
  padding-left: 25px;
}
